<div class="box-border table w-full p-1.25">
  <div class="table-cell w-[7em]">
    <div class="text-center">{{ 'feature.tabletop.rangeDocking.connectTarget' | transloco }}</div>
  </div>
  <div class="table-cell">
    <ng-select
      name="send-from"
      class="ud-select w-[12em]"
      [ngModel]="sendFrom()"
      (ngModelChange)="sendFrom.set($event)"
      [clearable]="false"
    >
      @for (gameCharacter of gameCharacters(); track gameCharacter.identifier) {
        <ng-option [value]="gameCharacter.identifier">{{ gameCharacter.name }} </ng-option>
      }
    </ng-select>
  </div>
</div>
<div class="box-border table w-full p-1.25">
  <div class="table-cell w-12.5 text-center align-top">
    @if (imageFile().url) {
      <img class="size-12.5 object-cover" [src]="imageFile().url | safe: 'resourceUrl'" />
    }
  </div>
</div>
<br />
<div class="box-border table w-full p-1.25">
  <button (click)="followring()" class="w-[9em]">{{ 'feature.tabletop.rangeDocking.connect' | transloco }}</button>
  <button (click)="cancel()" class="ml-[3em] w-[9em]">
    {{ 'feature.tabletop.rangeDocking.cancel' | transloco }}
  </button>
</div>
