<div class="component">
  <ng-container *ngTemplateOutlet="alarmTop"></ng-container>
  @if (!peerList.length) {
    <div>自分しか部屋にいません</div>
  }
  @for (peer of peerList; track peer) {
    <div class="text-[15px] box">
      <ng-container *ngTemplateOutlet="alarmTargets; context: { peer: peer }"></ng-container>
    </div>
  }
</div>

<ng-template #alarmTop>
  <form class="is-sticky-top" name="alarm-menu">
    <div class="tab">
      <div class="table">
        <div class="table-cell">
          <input
            type="checkbox"
            value="includSelf"
            [(ngModel)]="includSelf"
            name="includSelf"
            (click)="changeIncludSelf()"
          /><span>自分を含める</span>
        </div>
        <div class="table-cell text-left">
          <span class="inline-block w-[5em] ml-[0.5em]">タイトル:</span
          ><input [(ngModel)]="alarmTitle" placeholder="アラーム" name="alarmTitle" class="w-[15em]" /><br />
          <span class="inline-block w-[5em] ml-[0.5em]">時間:</span
          ><input
            type="number"
            [(ngModel)]="alarmTime"
            placeholder=""
            (change)="changeAlarmTime()"
            name="alarmTime"
            class="w-[5em]"
          />秒
        </div>
        <div class="table-cell">
          <button type="button" (click)="send()" [attr.disabled]="selectedNum() === 0 ? '' : null">送信</button><br />
          <span class="inline-block ml-[0.5em]">人数:{{ selectedNum() }}</span>
        </div>
        <div class="table-cell">
          <input type="checkbox" value="isSound" [(ngModel)]="isSound" name="isSound" (click)="changeIsSound()" /><span
            >音</span
          >
          <input type="checkbox" value="isPopUp" [(ngModel)]="isPopUp" name="isPopUp" (click)="changeIsPopUp()" /><span
            >ポップアップ</span
          >
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #alarmTargets let-peer="peer">
  <div class="inventory-object" (click)="voteBlockClick(peer.peerId)">
    <div class="object-tags-box">
      <div class="table-cell">
        <div class="object-name w-[6em]">送信対象</div>
        <div class="message h-[64px]">
          <div>
            <input type="checkbox" [checked]="checkedPeers.has(peer.peerId)" name="vote_chk" />
          </div>
        </div>
      </div>
      <div class="table-cell">
        <div class="object-name">
          {{ findPeerName(peer.peerId) }}
        </div>
        <div class="image-box">
          @if (findPeerImage(peer.peerId); as peerImage) {
            <div class="image cover" [style.background-image]="'url(' + peerImage.url + ')' | safe: 'style'"></div>
          }
        </div>
      </div>
      <div class="table-cell">
        <div class="object-name">
          @if (findPeerLastControlName(peer.peerId)) {
            {{ findPeerLastControlName(peer.peerId) }}
          }
          @if (!findPeerLastControlName(peer.peerId)) {
            操作キャラなし
          }
        </div>
        <div class="image-box">
          @if (findPeerLastControlImage(peer.peerId); as lastImage) {
            <div class="image cover" [style.background-image]="'url(' + lastImage.url + ')' | safe: 'style'"></div>
          }
          @if (!findPeerLastControlImage(peer.peerId)) {
            <div class="image cover" [style.background-image]=""></div>
          }
        </div>
      </div>
      <div class="table-cell message">
        <div [hidden]="!isPeerIsDisConnect(peer.peerId)">現在接続が切れていると考えられる相手です</div>
      </div>
    </div>
  </div>
</ng-template>
