<div class="component">
  <ng-container *ngTemplateOutlet="alarmTop"></ng-container>
  @if (!peerList.length) {
    <div>自分しか部屋にいません</div>
  }
  @for (peer of peerList; track peer) {
    <div style="font-size: 15px" [ngClass]="{ box: true }">
      <ng-container *ngTemplateOutlet="alarmTargets; context: { peer: peer }"></ng-container>
    </div>
  }
</div>

<ng-template #alarmTop>
  <form class="is-sticky-top" name="alarm-menu">
    <div class="tab">
      <div style="display: table">
        <div style="display: table-cell">
          <input
            type="checkbox"
            value="includSelf"
            [(ngModel)]="includSelf"
            name="includSelf"
            (click)="changeIncludSelf()"
          /><span>自分を含める</span>
        </div>
        <div style="display: table-cell; align: left">
          <div style="text-align: left">
            <span style="display: inline-block; width: 5em; margin-left: 0.5em">タイトル:</span
            ><input [(ngModel)]="alarmTitle" placeholder="アラーム" name="alarmTitle" style="width: 15em" /><br />
            <span style="display: inline-block; width: 5em; margin-left: 0.5em">時間:</span
            ><input
              type="number"
              [(ngModel)]="alarmTime"
              placeholder=""
              (change)="changeAlarmTime()"
              name="alarmTime"
              style="width: 5em"
            />秒
          </div>
        </div>
        <div style="display: table-cell">
          <button type="button" (click)="send()" [attr.disabled]="selectedNum() === 0 ? '' : null">送信</button><br />
          <span style="display: inline-block; margin-left: 0.5em">人数:{{ selectedNum() }}</span>
        </div>
        <div style="display: table-cell; align: left">
          <input type="checkbox" value="isSound" [(ngModel)]="isSound" name="isSound" (click)="changeIsSound()" /><span
            >音</span
          >
          <input type="checkbox" value="isPopUp" [(ngModel)]="isPopUp" name="isPopUp" (click)="changeIsPopUp()" /><span
            >ポップアップ</span
          >
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #alarmTargets let-peer="peer">
  <div class="inventory-object" (click)="voteBlockClick(peer.peerId)">
    <div class="object-tags-box">
      <div class="table-cell">
        <div class="object-name" style="width: 6em">送信対象</div>
        <div style="height: 64px" class="message">
          <div>
            <input
              type="checkbox"
              [checked]="checkedPeers.has(peer.peerId)"
              (change)="voteBlockClick(peer.peerId)"
              name="vote_chk"
            />
          </div>
        </div>
      </div>
      <div class="table-cell">
        <div class="object-name">
          {{ findPeerName(peer.peerId) }}
        </div>
        <div class="image-box">
          @if (findPeerImage(peer.peerId); as peerImage) {
            <div class="image cover" [style.background-image]="'url(' + peerImage.url + ')' | safe: 'style'"></div>
          }
        </div>
      </div>
      <div class="table-cell">
        <div class="object-name">
          @if (findPeerLastControlName(peer.peerId)) {
            {{ findPeerLastControlName(peer.peerId) }}
          }
          @if (!findPeerLastControlName(peer.peerId)) {
            操作キャラなし
          }
        </div>
        <div class="image-box">
          @if (findPeerLastControlImage(peer.peerId); as lastImage) {
            <div class="image cover" [style.background-image]="'url(' + lastImage.url + ')' | safe: 'style'"></div>
          }
          @if (!findPeerLastControlImage(peer.peerId)) {
            <div class="image cover" [style.background-image]=""></div>
          }
        </div>
      </div>
      <div class="table-cell message">
        <div [hidden]="!isPeerIsDisConnect(peer.peerId)">現在接続が切れていると考えられる相手です</div>
      </div>
    </div>
  </div>
</ng-template>
