<div>
  @if (urlObj) {
    <div class="break-all">
      {{ urlObj.protocol }}//<span [class.font-bold]="isOuter">{{ urlObj.host }}</span
      >{{ urlObj.pathname }}<span class="text-gray-500">{{ urlObj.search }}{{ urlObj.hash }}</span>
    </div>
  }
  @if (!urlObj) {
    <div class="break-all">{{ url }}</div>
  }
  <hr />
  <div class="text-sm">
    @if (urlObj) {
      <div>このURLを開きますか？（別ウィンドウで開きます、ポップアップを許可してください）</div>
    }
    @if (!urlObj) {
      <div>⚠️URLが不正です。</div>
    }
  </div>
</div>
<button type="submit" (click)="openUrl()" [disabled]="!isValid">開く</button>
<button type="button" (click)="cancel()">キャンセル</button>
