<div>
  @if (urlObj) {
    <div class="break-all">
      {{ urlObj.protocol }}//<span [class.font-bold]="isOuter">{{ urlObj.host }}</span
      >{{ urlObj.pathname }}<span class="text-gray-500">{{ urlObj.search }}{{ urlObj.hash }}</span>
    </div>
  }
  @if (!urlObj) {
    <div class="break-all">{{ url }}</div>
  }
  <hr />
  <div class="text-sm">
    @if (urlObj) {
      <div>{{ 'ui.openUrl.confirm' | transloco }}</div>
    }
    @if (!urlObj) {
      <div>{{ 'ui.openUrl.invalid' | transloco }}</div>
    }
  </div>
</div>
<button type="submit" (click)="openUrl()" [disabled]="!isValid">{{ 'ui.openUrl.open' | transloco }}</button>
<button type="button" (click)="cancel()">{{ 'ui.openUrl.cancel' | transloco }}</button>
