<div class="flex-container">
  <div class="flex-item no-grow">
    <div>
      <button (click)="create()">チャットタブを作る</button>
    </div>
    <select
      style="width: 10em"
      size="10"
      (change)="onSelectTab($event)"
      name="chat-tab-select"
      name="chat-tab-select"
      [ngModel]="selectedTab()?.identifier"
    >
      @for (chatTab of chatTabs; track chatTab) {
        <option value="{{ chatTab.identifier }}">{{ chatTab.name }}</option>
      }
    </select>
    <div style="font-size: 12px">
      <button (click)="onChangeSystemTab()">システム表示先指定</button>
    </div>
    <div style="width: 10em; overflow: hidden; font-size: 14px">現在システム表示先：<br />{{ systemTab()?.name }}</div>
  </div>
  <div class="flex-item">
    @if (!isEmpty && selectedTab()) {
      <div>
        タブ名 :
        <input
          name="tab-name"
          class="is-caret"
          [(ngModel)]="tabName"
          placeholder="Name"
          [attr.disabled]="!isEditable ? '' : null"
        />
      </div>
      <hr />
      <div>
        @if (!isDeleted) {
          <div style="padding-left: 45px">
            タブ削除を有効にする<input
              name="allow-delete-tab"
              type="checkbox"
              value="allowDeleteTab"
              [(ngModel)]="allowDeleteTab"
            />
          </div>
          <button (click)="upTabIndex()">↑</button>
          <button (click)="downTabIndex()">↓</button>
          <button [disabled]="isSaving()" (click)="save()">
            <div style="position: relative">
              <div [ngClass]="{ 'is-hidden': isSaving() }">保存</div>
              @if (isSaving()) {
                <div class="progress">{{ progressPercent() }}%</div>
              }
            </div>
          </button>
          <span style="display: inline-block; width: 2em"></span>
          <button
            class="danger"
            (click)="delete()"
            [attr.disabled]="chatTabs.length <= 1 ? '' : null"
            [attr.disabled]="!allowDeleteTab ? '' : null"
          >
            選択タブ削除</button
          ><br />
        }
        @if (isDeleted) {
          <button (click)="restore()">元に戻す</button>
        }
        @if (!isDeleted) {
          <hr />
          <button (click)="saveLog()" style="width: 9em">ログ保存</button
          ><span style="font-size: 12px">リストから選んだログを保存</span><br />
          <button (click)="saveAllLog()" style="width: 9em">全タブログ保存</button
          ><span style="font-size: 12px">時系列順にまとめて保存</span><br />
          <span>CoCログ形式にする</span
          ><input name="mode-coc-log" type="checkbox" value="modeCocLog" [(ngModel)]="modeCocLog" /><br />
        }
        <hr />
        <br /><br />
        @if (!isDeleted) {
          ログの消去機能を有効にする<input
            name="allow-delete-log"
            type="checkbox"
            value="allowDeleteLog"
            [(ngModel)]="allowDeleteLog"
          /><br />
          <button
            class="danger"
            (click)="deleteLog()"
            [attr.disabled]="chatTabs.length <= 1 ? '' : null"
            style="width: 9em"
            [attr.disabled]="!allowDeleteLog ? '' : null"
          >
            選択ログ消去
          </button>
          <button
            class="danger"
            (click)="deleteLogALL()"
            [attr.disabled]="chatTabs.length <= 1 ? '' : null"
            style="width: 9em"
            [attr.disabled]="!allowDeleteLog ? '' : null"
          >
            全ログ消去
          </button>
        }
      </div>
    }
  </div>
</div>
@if (isEmpty) {
  <div style="font-size: 12px">
    ※チャットタブが１つも作成されていません。「チャットタブを作る」からチャットタブを作成することができます。
  </div>
}
