<div class="table w-full box-border">
  <div class="table-cell align-top box-border w-[13em]">
    <div>
      <button (click)="createDiceTable()" [attr.disabled]="isEdit() ? '' : null">新しい表を作る</button>
    </div>
    <select
      class="w-full"
      size="15;padding-right:5px"
      (change)="onSelectDiceTable($event)"
      name="dice-table-select"
      name="dice-table-select"
      [ngModel]="selectedTable?.identifier"
      [attr.disabled]="isEdit() ? '' : null"
    >
      @for (diceTable of getDiceTables(); track diceTable) {
        <option value="{{ diceTable.identifier }}">{{ diceTable.name }}</option>
      }
    </select>
  </div>
  <div class="table-cell align-top box-border w-[5px] max-w-[5px]"></div>
  <div class="table-cell align-top box-border">
    <div class="table w-full box-border">
      <div class="table-cell align-top box-border w-[7em]">
        <span class="w-[7em] inline-block">表タイトル :</span>
      </div>
      <div class="table-cell align-top box-border w-full pr-[10px]">
        <input
          name="dice-table-name"
          name="dice-table-name"
          [(ngModel)]="tableName"
          placeholder="Name"
          class="w-full"
          [attr.disabled]="!isEditable ? '' : null"
        />
      </div>
    </div>
    <div class="table w-full box-border">
      <div class="table-cell align-top box-border w-[7em]">
        <span class="w-[7em] inline-block">ダイス :</span>
      </div>
      <div class="table-cell align-top box-border w-full pr-[10px]">
        <input
          name="dice-table-dice"
          name="dice-table-dice"
          [(ngModel)]="tableDice"
          placeholder="Dice"
          class="w-full"
          [attr.disabled]="!isEditable ? '' : null"
        />
      </div>
    </div>
    <div>
      <div class="table-cell align-top box-border w-[7em]">
        <span class="w-[7em] inline-block">コマンド :</span>
      </div>
      <div class="table-cell align-top box-border w-full pr-[10px]">
        <input
          name="dice-table-command"
          name="dice-table-command"
          [(ngModel)]="tableCommand"
          placeholder="Command"
          class="w-full"
          [attr.disabled]="!isEditable ? '' : null"
        />
      </div>
    </div>
    <div>
      <ng-select
        class="ud-select w-[12em]"
        (change)="loadDiceBot($event)"
        [(ngModel)]="gameType"
        [ngModelOptions]="{ standalone: true }"
        [attr.disabled]="!isEditable ? '' : null"
        [clearable]="false"
      >
        @for (diceBotInfo of diceBotInfos; track diceBotInfo) {
          <ng-option [value]="diceBotInfo.id">{{ diceBotInfo.name }}</ng-option>
        }
      </ng-select>
    </div>

    @if (isEdit()) {
      <div class="w-full text-center text-[#ccc] bg-[rgba(30,30,30,0.8)]">
        <i class="material-icons align-bottom text-[0.8rem]">info_outline</i> ダイス表編集中です
      </div>
    }
    <!--入力部 -->
    @if (!isEdit()) {
      <div class="grow h-0 min-h-[150px]">
        <select class="box-border font-sans w-full h-full overflow-y-auto" size="5">
          @if (selectedTable) {
            @if (selectedTable.diceTablePalette) {
              @for (palette of selectedTable.diceTablePalette.getPalette(); track palette) {
                <option value="{{ palette }}">{{ palette }}</option>
              }
            }
          }
        </select>
      </div>
    }
    @if (isEdit()) {
      <div class="grow h-0 min-h-[150px]">
        <textarea
          class="box-border font-sans w-full h-full resize-none"
          name="dice-table-palette"
          name="dice-table-palette"
          [ngModel]="editPalette()"
          (ngModelChange)="editPalette.set($event)"
          placeholder="ダイス表"
        ></textarea>
      </div>
    }
    <div class="grow-0">
      <button type="submit" (click)="toggleEditMode()" [attr.disabled]="!isEditable ? '' : null">
        @if (!isEdit()) {
          <span>ダイス表の編集</span>
        }
        @if (isEdit()) {
          <span>ダイス表を確定</span>
        }
      </button>
    </div>
    <hr />
    <div>
      @if (!isDeleted) {
        <button (click)="save()">保存</button>
        <button class="danger" (click)="delete()" [attr.disabled]="getDiceTables().length <= 0 ? '' : null">
          削除
        </button>
      }
    </div>
    @if (isEmpty) {
      <div class="text-[12px]">
        ※ダイス表が１つも作成されていません。「新しい表を作る」から新しいダイス表を作成することができます。
      </div>
    }
  </div>
  <!--入力部ここまで -->
</div>
