<div class="flex flex-row flex-nowrap justify-start items-stretch">
  <div class="m-[5px] flex-none box-border max-w-full">
    <div>
      <button (click)="createGameTable()">新しいテーブルを作る</button>
    </div>
    <select
      class="w-[10em]"
      size="10"
      (change)="onSelectGameTable($event)"
      name="game-table-select"
      [ngModel]="selectedTable?.identifier"
    >
      @for (gameTable of getGameTables(); track gameTable) {
        <option value="{{ gameTable.identifier }}">{{ gameTable.name }}</option>
      }
    </select>
  </div>
  <div class="m-[5px] flex-[1_0_auto] box-border max-w-full">
    @if (!isEmpty || selectedTable) {
      <div class="flex">
        <div>
          画像
          @if (!tableBackgroundImage.url) {
            <div>
              <button (click)="openBgImageModal()" class="h-[120px]">テーブル画像を追加</button>
            </div>
          }
          @if (tableBackgroundImage.url) {
            <div (click)="openBgImageModal()">
              <img class="w-[120px] h-[120px] object-contain" [src]="tableBackgroundImage.url | safe: 'resourceUrl'" />
            </div>
          }
        </div>
        <div>
          背景
          @if (!tableDistanceviewImage.url) {
            <div>
              <button (click)="openDistanceViewImageModal()" class="h-[120px]">背景画像を追加</button>
            </div>
          }
          @if (tableDistanceviewImage.url) {
            <div (click)="openDistanceViewImageModal()">
              <img
                class="w-[120px] h-[120px] object-contain"
                [src]="tableDistanceviewImage.url | safe: 'resourceUrl'"
              />
            </div>
          }
        </div>
      </div>
      <div>
        Name :
        <input name="table-name" [(ngModel)]="tableName" placeholder="Name" [attr.disabled]="!isEditable ? '' : null" />
      </div>
      <div>
        <input
          [(ngModel)]="tableWidth"
          type="range"
          min="{{ minSize }}"
          max="{{ maxSize }}"
          name="tableWidth"
          [attr.disabled]="!isEditable ? '' : null"
        />
        Width :
        <input
          name="table-width"
          [(ngModel)]="tableWidth"
          type="number"
          min="{{ minSize }}"
          max="{{ maxSize }}"
          class="w-[5em]"
          [attr.disabled]="!isEditable ? '' : null"
        />
      </div>
      <div>
        <input
          name="table-height-one"
          [(ngModel)]="tableHeight"
          type="range"
          min="{{ minSize }}"
          max="{{ maxSize }}"
          name="tableHeight"
          [attr.disabled]="!isEditable ? '' : null"
        />
        Height :
        <input
          name="table-height-two"
          [(ngModel)]="tableHeight"
          type="number"
          min="{{ minSize }}"
          max="{{ maxSize }}"
          class="w-[5em]"
          [attr.disabled]="!isEditable ? '' : null"
        />
      </div>
      <div>
        グリッド:
        <select [(ngModel)]="tableGridType" name="tableGridType" [attr.disabled]="!isEditable ? '' : null">
          <option value="-1">なし</option>
          <option value="0">スクエア</option>
          <option value="1">ヘクス（縦揃え）</option>
          <option value="2">ヘクス（横揃え）</option>
        </select>
      </div>
      <div>
        グリッド色:
        <input
          type="color"
          [(ngModel)]="tableGridColor"
          name="tableGridColor"
          list="table-grid-color-list"
          [attr.disabled]="!isEditable ? '' : null"
        />
        座標色:
        <input
          type="color"
          [(ngModel)]="tableGridFontColor"
          name="tableGridFontColor"
          list="table-grid-color-list"
          [attr.disabled]="!isEditable ? '' : null"
        />
      </div>
      <div>
        背景フィルタ
        <select
          [(ngModel)]="tableDistanceviewFilter"
          name="tableDistanceviewFilter"
          [attr.disabled]="!isEditable ? '' : null"
        >
          <option value="">なし</option>
          <option value="white">ホワイト</option>
          <option value="black">ブラック</option>
        </select>
      </div>
      <hr />
      <div>
        <label
          >グリッドを常に表示:
          <input type="checkbox" [(ngModel)]="tableGridShow" name="tableGridShow" />
        </label>
        スナップ:
        <select [(ngModel)]="tableSnapMode" name="tableSnapMode" [attr.disabled]="!isEditable ? '' : null">
          <option value="off">なし</option>
          <option value="center">セル</option>
          <option value="vertex">交差点</option>
          <option value="both">セル+交差点</option>
          <option value="all">セル+交差点+辺</option>
        </select>
        <hr />
        @if (!isDeleted) {
          <button [disabled]="isSaving()" (click)="save()">
            <div class="relative">
              <div [class.invisible]="isSaving()">保存</div>
              @if (isSaving()) {
                <div class="flex items-center justify-center absolute inset-0 text-[0.9em]">
                  {{ progressPercent() }}%
                </div>
              }
            </div>
          </button>
          <button class="danger" (click)="delete()" [attr.disabled]="getGameTables().length <= 1 ? '' : null">
            削除
          </button>
        }
        @if (isDeleted) {
          <button (click)="restore()">元に戻す</button>
        }
      </div>
    }
  </div>
</div>
@if (isEmpty) {
  <div class="text-[12px]">
    ※テーブルが１つも作成されていません。「新しいテーブルを作る」から新しいテーブルを作成することができます。
  </div>
}
<div>
  <hr />
  標準のダイスボット(部屋接続時に選択されるダイスボットになります)。<br />
  ※テーブル毎の設定ではなく部屋全体の設定です。
  <ng-select
    class="ud-select w-[15em] ml-[0.1em]"
    (change)="loadDiceBot($event)"
    [(ngModel)]="gameType"
    [ngModelOptions]="{ standalone: true }"
    [clearable]="false"
  >
    @for (diceBotInfo of diceBotInfos; track diceBotInfo) {
      <ng-option [value]="diceBotInfo.id">{{ diceBotInfo.name }}</ng-option>
    }
  </ng-select>
</div>
