<div class="box-border p-[5px] table w-full">
  <div class="table-cell" style="width: 7em">
    <div style="text-align: center">複製元＞</div>
  </div>
  <div class="table-cell">
    <ng-select name="send-from" class="ud-select" style="width: 12em" [(ngModel)]="sendFrom" [clearable]="false">
      @for (gameCharacter of gameCharacters(); track gameCharacter.identifier) {
        <ng-option [value]="gameCharacter.identifier">{{ gameCharacter.name }} </ng-option>
      }
    </ng-select>
  </div>
</div>
<div class="box-border p-[5px] table w-full">
  <div class="inline-block w-[100px] h-[100px] max-w-[50px] max-h-[50px] align-top text-center table-cell">
    @if (imageFile.url) {
      <img class="h-full align-bottom object-cover" [src]="imageFile.url | safe: 'resourceUrl'" />
    }
  </div>
  <div class="table-cell">登録枚数:{{ portraitCount }}</div>
</div>
<br />
<div class="box-border p-[5px] table w-full">
  <button (click)="importImages()" style="width: 9em">インポート実行</button>
  <button (click)="cancel()" style="width: 9em; margin-left: 3em">キャンセル</button>
</div>
