<div class="box-border table w-full p-1.25">
  <div class="table-cell w-[7em]">
    <div class="text-center">{{ 'feature.character.importImg.sourceLabel' | transloco }}</div>
  </div>
  <div class="table-cell">
    <ng-select name="send-from" class="ud-select w-[12em]" [(ngModel)]="sendFrom" [clearable]="false">
      @for (gameCharacter of gameCharacters(); track gameCharacter.identifier) {
        <ng-option [value]="gameCharacter.identifier">{{ gameCharacter.name }} </ng-option>
      }
    </ng-select>
  </div>
</div>
<div class="box-border table w-full p-1.25">
  <div class="table-cell w-12.5 text-center align-top">
    @if (imageFile.url) {
      <img class="size-12.5 object-cover" [src]="imageFile.url | safe: 'resourceUrl'" />
    }
  </div>
  <div class="table-cell">
    {{ 'feature.character.importImg.registeredCount' | transloco: { count: portraitCount } }}
  </div>
</div>
<br />
<div class="box-border table w-full p-1.25">
  <button (click)="importImages()" class="w-[9em]">{{ 'feature.character.importImg.import' | transloco }}</button>
  <button (click)="cancel()" class="ml-[3em] w-[9em]">{{ 'feature.character.importImg.cancel' | transloco }}</button>
</div>
