<div class="box-border table w-full p-[5px]">
  <div class="table-cell w-[7em]">
    <div class="text-center">複製元＞</div>
  </div>
  <div class="table-cell">
    <ng-select name="send-from" class="ud-select w-[12em]" [(ngModel)]="sendFrom" [clearable]="false">
      @for (gameCharacter of gameCharacters(); track gameCharacter.identifier) {
        <ng-option [value]="gameCharacter.identifier">{{ gameCharacter.name }} </ng-option>
      }
    </ng-select>
  </div>
</div>
<div class="box-border table w-full p-[5px]">
  <div class="table-cell w-[50px] text-center align-top">
    @if (imageFile.url) {
      <img class="h-[50px] w-[50px] object-cover" [src]="imageFile.url | safe: 'resourceUrl'" />
    }
  </div>
  <div class="table-cell">登録枚数:{{ portraitCount }}</div>
</div>
<br />
<div class="box-border table w-full p-[5px]">
  <button (click)="importImages()" class="w-[9em]">インポート実行</button>
  <button (click)="cancel()" class="ml-[3em] w-[9em]">キャンセル</button>
</div>
