<div
  class="relative flex flex-col justify-end items-end w-full h-full"
  [style.minHeight.px]="minScrollHeight"
  #logContainer
>
  <div class="shrink-0 w-full" [style.marginBottom.px]="bottomSpace" #messageContainer>
    @if (chatMessages.length) {
      @for (chatMessage of chatMessages; track trackByChatMessage($index, chatMessage)) {
        @if (chatMessage.isDisplayable) {
          <chat-message
            [chatMessage]="chatMessage"
            [simpleDispFlagTime]="!!chatTabList.simpleDispFlagTime"
            [simpleDispFlagUserId]="!!chatTabList.simpleDispFlagUserId"
            [chatSimpleDispFlag]="!!chatTab?.chatSimpleDispFlag"
          >
          </chat-message>
        }
      }
    }
    @if (!chatMessages.length) {
      <!--      <span>使用している <a href= "3rdpartylicenses.txt" target="_blank">3rdpartylicenses</a>についてはこちらを参照してください</span>-->
      @for (chatMessage of sampleMessages; track chatMessage) {
        <chat-message
          [chatMessage]="chatMessage"
          [simpleDispFlagTime]="false"
          [simpleDispFlagUserId]="false"
          [chatSimpleDispFlag]="false"
        >
        </chat-message>
      }
    }
    @if (writingSpeakers().length && bottomSpace <= 0) {
      <div class="writing-speakers" aria-live="polite">
        @for (speaker of writingSpeakers(); track speaker.peerId) {
          <div class="writing-speaker">
            <div class="writing-speaker-image">
              @if (speaker.imageFile.url) {
                <img [src]="speaker.imageFile.url | safe: 'resourceUrl'" [alt]="speaker.name" />
              } @else {
                <i class="material-icons">person</i>
              }
            </div>
            <div class="writing-speaker-body">
              <div class="writing-speaker-name">{{ speaker.name }}</div>
              <div class="writing-speaker-text">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
