@if (character()) {
  <div class="buff-container">
    @if (character()!.buffDataElement) {
      <div class="buff-list">
        @for (childElement of character()!.buffDataElement!.children; track childElement.identifier) {
          <div game-data-element-buff [gameDataElement]="childElement" [isEdit]="isEdit()" [isPieceMode]="false"></div>
        }
        @if (character()!.buffDataElement!.children.length === 0) {
          <p class="buff-empty">バフ・デバフは登録されていません</p>
        }
      </div>
    }
    <div class="buff-add-bar">
      <button class="add-buff-btn" (click)="addBuff()">
        <i class="material-icons">add</i>
        バフを追加
      </button>
    </div>
  </div>
}
