<div class="flex flex-row flex-wrap justify-start items-stretch">
  <div class="m-[5px] flex-[1_0_auto] box-border grow-0 max-w-full">
    <div>
      <button (click)="createCutIn()">新しいカットインを作る</button>
    </div>
    <select
      style="width: 15em"
      size="20"
      (change)="onSelectCutIn($event)"
      name="cut-in-select"
      [ngModel]="selectedCutIn?.identifier"
    >
      @for (cutIn of getCutIns(); track cutIn) {
        <option value="{{ cutIn.identifier }}">{{ cutIn.name }}</option>
      }
    </select>
  </div>
  <div class="m-[5px] flex-[1_0_auto] box-border grow max-w-full" style="width: 380px">
    @if (!isEmpty || selectedCutIn) {
      <cut-in-editor [cutIn]="selectedCutIn" [isEditable]="isEditable" />
      <hr />
      <div>
        @if (isSelected) {
          <button (click)="save()">保存</button>
          <button class="danger" (click)="delete()">削除</button>
        }
      </div>
    }
  </div>
</div>
@if (isEmpty) {
  <div style="font-size: 12px">
    ※カットインが１つも作成されていません。「新しいカットインを作る」から新しいカットインを作成することができます。
  </div>
}
