.flex-container {
  display: flex;

  flex-flow: row wrap;

  justify-content: flex-start;

  align-items: stretch;
}
.flex-item {
  margin: 5px;
  flex: 1 0 auto;
  box-sizing: border-box;
  flex-grow: 1;
  max-width: 100%;
}

.no-grow {
  flex-grow: 0;
}

.images-select {
  display: flex;
}

.grow {
  text-shadow:
    1px 1px 0px #ffffff,
    -1px 1px 0px #ffffff,
    1px -1px 0px #ffffff,
    -1px -1px 0px #ffffff,
    1px 0px 0px #ffffff,
    0px 1px 0px #ffffff,
    -1px 0px 0px #ffffff,
    0px -1px 0px #ffffff;
}

