@if (!isPieceMode()) {
  @if (gameDataElement()) {
    @if (!childrenCount()) {
      @switch (gameDataElement().type) {
        @case ('numberResource') {
          <div class="buff-row">
            <div class="buff-name">
              @if (!isTagLocked()) {
                <div class="hidden-spacer">{{ name }}</div>
                <input class="name-input" name="data-elm-name" [(ngModel)]="name" placeholder="バフ名" />
              } @else {
                <span class="name-locked">{{ name }}</span>
              }
            </div>
            <div class="buff-values">
              <input class="val-input" [(ngModel)]="currentValue" placeholder="現在値" />
              <span class="sep">/</span>
              <input class="val-input-sm" [(ngModel)]="value" placeholder="最大" />
              <span class="unit">R</span>
            </div>
            @if (!isTagLocked()) {
              <button class="delete-btn" (click)="deletBuff(gameDataElement())" title="バフを削除">
                <i class="material-icons">delete_outline</i>
              </button>
            }
          </div>
        }
        @default {
          <div class="group-header">
            @if (!isTagLocked()) {
              <div class="group-name">{{ gameDataElement().name }}</div>
            }
          </div>
        }
      }
    }
    @if (childrenCount()) {
      <div class="group-section">
        <div class="group-header">
          @if (!isTagLocked()) {
            <div class="group-name">{{ gameDataElement().name }}</div>
          }
        </div>
        <div class="group-children">
          @for (childElement of gameDataElement().children; track childElement.identifier) {
            <div
              game-data-element-buff
              [gameDataElement]="childElement"
              [isEdit]="isEdit()"
              [isTagLocked]="isTagLocked()"
            ></div>
          }
        </div>
      </div>
    }
  }
}

@if (isPieceMode()) {
  @if (!childrenCount()) {
    @switch (gameDataElement().type) {
      @case ('numberResource') {
        <span class="piece-buff">{{ name }} / {{ currentValue }} / {{ value }}R</span>
      }
    }
  }
  @if (childrenCount()) {
    @for (childElement of gameDataElement().children; track childElement.identifier) {
      <div
        game-data-element-buff
        [gameDataElement]="childElement"
        [isEdit]="isEdit()"
        [isTagLocked]="isTagLocked()"
        [isPieceMode]="isPieceMode()"
      ></div>
    }
  }
}
