<div>
  <button (click)="close(true)">シャッフルしてウィンドウを閉じる</button>
  <hr />
  @for (card of cards; track trackByCard($index, card)) {
    <div class="border-b border-dotted border-[#888]">
      <div class="inline-block align-top" [appTooltip]="card">
        <div
          class="p-0 w-16 h-16 inline-block align-top bg-center bg-no-repeat bg-contain"
          [style.background-image]="'url(' + card?.frontImage?.url + ')' | safe: 'style'"
        ></div>
        <div
          class="p-0 w-16 h-16 inline-block align-top bg-center bg-no-repeat bg-contain"
          [style.background-image]="'url(' + card?.backImage?.url + ')' | safe: 'style'"
        ></div>
      </div>
      <div class="inline-block">
        <button type="submit" (click)="drawCard(card)">山札から出す</button>
        <button (click)="showDetail(card)">
          <i class="material-icons text-[1.1em] align-text-bottom">settings</i>編集
        </button>
        <br />
        <button (click)="up(card)">↑</button>
        <button (click)="down(card)">↓</button>
        <br />
      </div>
    </div>
  }
</div>
