<div>
  <button (click)="close(true)">{{ 'feature.cardStack.list.shuffleClose' | transloco }}</button>
  <hr />
  @for (card of cards; track trackByCard($index, card)) {
    <div class="border-b border-dotted border-[#888]">
      <div class="inline-block align-top" [appTooltip]="card">
        <div
          class="inline-block size-16 bg-contain bg-center bg-no-repeat p-0 align-top"
          [style.background-image]="'url(' + card?.frontImage?.url + ')' | safe: 'style'"
        ></div>
        <div
          class="inline-block size-16 bg-contain bg-center bg-no-repeat p-0 align-top"
          [style.background-image]="'url(' + card?.backImage?.url + ')' | safe: 'style'"
        ></div>
      </div>
      <div class="inline-block">
        <button type="submit" (click)="drawCard(card)">
          {{ 'feature.cardStack.list.drawFromStack' | transloco }}
        </button>
        <button (click)="showDetail(card)">
          <i class="material-icons align-text-bottom text-[1.1em]!">settings</i
          >{{ 'feature.cardStack.list.edit' | transloco }}
        </button>
        <br />
        <button (click)="up(card)">{{ 'feature.cardStack.list.moveUp' | transloco }}</button>
        <button (click)="down(card)">{{ 'feature.cardStack.list.moveDown' | transloco }}</button>
        <br />
      </div>
    </div>
  }
</div>
