<form>
  <div class="image-chg">
    @for (tag of tagList; track tag) {
      <label>
        <input name="image-chg" type="radio" value="{{ tag }}" [(ngModel)]="selectTag" (change)="resetBtn()" />
        @if (tag.length === 0) {
          <div>未設定</div>
        }
        @if (tag.length > 0) {
          <div>{{ tag }}</div>
        }
      </label>
    }
  </div>
</form>
<div id="file-list">
  @if (isAllowedEmpty) {
    <span class="empty">
      <button (click)="onSelectedFile(empty)">画像なし</button>
    </span>
  }
  @for (file of images; track file) {
    <span class="image">
      <div style="float: left">
        @if (0 < file.url.length) {
          <img [src]="file.url | safe: 'resourceUrl'" [alt]="file.name" height="120" (click)="onSelectedFile(file)" />
        }
        @if (file.url.length <= 0) {
          <img src="assets/images/loading.gif" alt="{{ file.name }}" />
        }
      </div>
    </span>
  }
</div>
