<div>
  <button (click)="reConnect()" class="danger">{{ 'feature.lobby.reConnect.execute' | transloco }}</button>
  <label>
    <input type="checkbox" [checked]="forceCleanup()" (change)="forceCleanup.update((v) => !v)" />
    {{ 'feature.lobby.reConnect.forceCleanup' | transloco }}
  </label>
  <hr />
</div>
<span class="text-[16px]">
  {{ 'feature.lobby.reConnect.notice' | transloco }}<br />
  <span class="text-[red]">
    {{ 'feature.lobby.reConnect.warning' | transloco }}<br />
    {{ 'feature.lobby.reConnect.warning2' | transloco }}
  </span>
  <br />
  <br />
  {{ 'feature.lobby.reConnect.cleanupDesc1' | transloco }}<br />
  {{ 'feature.lobby.reConnect.cleanupDesc2' | transloco }}
</span>
