<div class="component">
  <div class="modal-background bg-fade-in" (click)="clickBackground($event)"></div>
  <div class="modal-panel fly-in">
    <div class="title">
      <div class="title-button">
        <button (click)="resolve()"><i class="material-icons" style="font-size: 14px">close</i></button>
      </div>
      {{ title }}
    </div>
    <div class="scrollable-panel">
      <ng-content></ng-content>
      <div #content></div>
    </div>
    <!--<div class="footer"><button (click)="resolve()">OK</button><button (click)="resolve()">CANCEL</button></div>-->
  </div>
</div>
