<div class="box-border table w-full p-1.25">
  <textarea
    class="table-cell max-h-[calc(6em+7px)] min-h-[calc(1em+7px)] resize-none overflow-auto p-px align-bottom font-[inherit] text-[13px] wrap-anywhere whitespace-pre-wrap"
    [(ngModel)]="text"
    [ngModelOptions]="{ standalone: true }"
    (input)="onInput()"
    (keydown.enter)="fix($event)"
    #textArea
  ></textarea>
  <div class="table-cell w-45 align-middle whitespace-nowrap">
    <button type="submit" (click)="fix(null)">{{ 'feature.chat.messageFix.change' | transloco }}</button>
    <button type="submit" (click)="cancel()">{{ 'feature.chat.messageFix.cancel' | transloco }}</button>
  </div>
</div>
