<div>
  <form name="chat-portrait">
    <div id="portrait-component_" #portraitArea [ngStyle]="{ height: portraitAreaHeight + 'px' }">
      <chat-portrait-img
        [chatTabidentifier]="chatTabidentifier()"
        [isTilteTop]="false"
        [dispByMouse]="true"
      ></chat-portrait-img>
    </div>
    <div>
      立ち絵表示:
      @if (chatTab) {
        <input
          type="checkbox"
          value="portraitDisplayFlag"
          [(ngModel)]="chatTab.portraitDisplayFlag"
          name="portraitDisplayFlag"
        />
      }
      @if (!chatTab) {
        <input type="checkbox" name="portraitDisplayFlag" disabled />
      }
      /サイズ:
      <input
        class="is-caret"
        [(ngModel)]="chatTabList.portraitHeight"
        type="number"
        min="{{ chatTabList.minPortraitSize }}"
        max="{{ chatTabList.maxPortraitSize }}"
        name="portraitHeight"
        (change)="onChkHeight($event)"
      />
      チャット簡易表示:
      @if (chatTab) {
        <input
          type="checkbox"
          value="chatSimpleDispFlag"
          [(ngModel)]="chatTab.chatSimpleDispFlag"
          name="chatSimpleDispFlag"
          (click)="changeSimpleDisp()"
        />
      }
      <button type="button" class="message-setting small-font" (click)="shoeMessageSetting()">
        <i class="material-icons small-font">settings</i>詳細
      </button>
    </div>
  </form>
</div>
