<button (click)="openModal()">画像を選ぶ</button>
<div>
  <img style="height: 120px" [src]="tableBackgroundImage().url | safe: 'resourceUrl'" />
</div>
<input [(ngModel)]="name" placeholder="Name" name="name" />
<div>
  <div>
    <input [(ngModel)]="size" type="range" min="{{ minSize }}" max="{{ maxSize }}" step="0.5" name="size" /> Size :
    <input name="size-number" [(ngModel)]="size" type="number" min="{{ minSize }}" max="{{ maxSize }}" step="0.5" />
  </div>
  <button (click)="createGameCharacter()">キャラクターを作る</button>
  <button (click)="createGameTableMask()">マップマスクを作る</button>
</div>
