<div id="file-list">
  <div class="table">
    <div class="table-cell">
      <div>第1色</div>
      <color-swatch [value]="chatColorCode(0)" (valueChange)="onChangeColor($event, 0)"></color-swatch>
    </div>
    <div class="table-cell">
      <div>第2色</div>
      <color-swatch [value]="chatColorCode(1)" (valueChange)="onChangeColor($event, 1)"></color-swatch>
    </div>

    <div class="table-cell">
      <div>第3色</div>
      <color-swatch [value]="chatColorCode(2)" (valueChange)="onChangeColor($event, 2)"></color-swatch>
    </div>
  </div>
</div>
