<form>
  <div class="image-chg">
    @for (tag of tagList; track tag) {
      <label>
        <input name="image-chg" type="radio" value="{{ tag }}" [(ngModel)]="selectTag" (change)="resetBtn()" />
        @if (tag.length === 0) {
          <div>未設定</div>
        }
        @if (tag.length > 0) {
          <div>{{ tag }}</div>
        }
      </label>
    }
  </div>
</form>
<label>
  <div class="drop-zone">
    <div>
      <i class="material-icons large-font">add_photo_alternate</i>
    </div>
    <div>ここに画像をドロップ</div>
    <div class="small-font">またはここをクリックして選択</div>
    <input type="file" style="display: none" (change)="handleFileSelect($event)" multiple accept="image/*" />
    <div class="small-font"><br />１ファイルにつき2MBまで</div>
  </div>
</label>
<div class="sticky-top">
  <div>
    <button (click)="changeTag()">タグを変更</button>
    <input
      class="input is-caret"
      maxlength="12"
      (input)="inputNewTag($any($event.target).value)"
      placeholder="新タグ名"
    />
  </div>
</div>
<div id="file-list">
  @for (file of images; track file) {
    <span class="image_">
      <div class="img-box" style="float: left" (click)="imgBlockClick(file.identifier)">
        @if (0 < file.url.length) {
          <img [src]="file.url | safe: 'resourceUrl'" [alt]="file.name" height="120" (click)="onSelectedFile(file)" />
        }
        @if (file.url.length <= 0) {
          <img src="assets/images/loading.gif" alt="{{ file.name }}" />
        }
        @if (0 < file.url.length) {
          <input
            class="img-chk"
            id="{{ file.identifier }}_{{ initTimestamp }}"
            name="tag_chg_chk"
            type="checkbox"
            (change)="onChange(file.identifier)"
          />
        }
      </div>
    </span>
  }
</div>
