<form name="file-storage">
  <div class="image-chg">
    @for (tag of tagList; track tag) {
      <label>
        <input
          name="image-chg"
          type="radio"
          value="{{ tag }}"
          [ngModel]="selectTag()"
          (ngModelChange)="selectTag.set($event)"
          (change)="resetBtn()"
        />
        @if (!tag) {
          <div>未設定</div>
        }
        @if (tag) {
          <div>{{ tag }}</div>
        }
      </label>
    }
  </div>
</form>
<label>
  <div class="drop-zone">
    <div>
      <i class="material-icons large-font">add_photo_alternate</i>
    </div>
    <div>ここに画像をドロップ</div>
    <div class="small-font">またはここをクリックして選択</div>
    <input type="file" style="display: none" (change)="handleFileSelect($event)" multiple accept="image/*" />
    <div class="small-font"><br />１ファイルにつき2MBまで</div>
  </div>
</label>
<div class="sticky-top">
  <div>
    <button (click)="changeTag()">タグを変更</button>
    <input class="input" maxlength="12" (input)="onInputNewTag($event)" placeholder="新タグ名" />
  </div>
</div>
<div id="file-list">
  @for (file of images(); track file) {
    <span class="image_">
      <div class="img-box" style="float: left" (click)="imgBlockClick(file.identifier)">
        @if (file.url) {
          <img
            [src]="file.url | safe: 'resourceUrl'"
            [alt]="file.name"
            class="w-[120px] h-[120px] object-contain"
            (click)="onSelectedFile(file)"
          />
        }
        @if (!file.url) {
          <img src="assets/images/loading.gif" alt="{{ file.name }}" />
        }
        @if (file.url) {
          <input class="img-chk" name="tag_chg_chk" type="checkbox" [checked]="checkedFiles.has(file.identifier)" />
        }
      </div>
    </span>
  }
</div>
