<div class="bgm-select">
  <div class="tag-tabs">
    @for (tab of ['全て', 'BGM', 'SE']; track tab) {
      <button type="button" class="tag-tab" [class.is-active]="selectTag() === tab" (click)="selectTag.set(tab)">
        {{ tab }}
      </button>
    }
  </div>

  @if (filteredAudios().length) {
    <ul class="bgm-list">
      @for (audio of filteredAudios(); track audio.identifier) {
        <li class="bgm-row" [class.is-auditioning]="audio === auditionPlayer.audio && !auditionPlayer.paused">
          <div class="bgm-info">
            @if (audio === auditionPlayer.audio && !auditionPlayer.paused) {
              <i class="material-icons bgm-playing-icon">volume_up</i>
            } @else {
              <i class="material-icons bgm-playing-icon" style="opacity: 0.25">music_note</i>
            }
            <span class="tag-badge" [class.is-se]="tagOf(audio) === 'SE'">{{ tagOf(audio) }}</span>
            <span class="bgm-name" [title]="audio.name">{{ audio.name }}</span>
          </div>
          <div class="bgm-actions">
            @if (audio === auditionPlayer.audio && !auditionPlayer.paused) {
              <button type="button" class="action-btn is-playing" (click)="stop()">
                <i class="material-icons">stop</i>停止
              </button>
            } @else {
              <button type="button" class="action-btn" (click)="play(audio)" [disabled]="!audio.isReady">
                <i class="material-icons">play_arrow</i>試聴
              </button>
            }
            <button type="button" class="action-btn is-select" (click)="selectBgm(audio)">
              <i class="material-icons">check</i>選択
            </button>
          </div>
        </li>
      }
    </ul>
  } @else {
    <div class="bgm-empty">
      <i class="material-icons">music_off</i>
      <p>音楽がアップロードされていません。</p>
    </div>
  }
</div>
