<div class="component">
  <ng-container *ngTemplateOutlet="voteTop"></ng-container>
  @if (!peerList.length) {
    <div>自分しか部屋にいません</div>
  }
  @for (peer of peerList; track peer) {
    <div class="text-[15px] box">
      <ng-container *ngTemplateOutlet="voteTargets; context: { peer: peer }"></ng-container>
    </div>
  }
</div>

<ng-template #voteTop>
  <form class="is-sticky-top" name="vote-menu">
    <div class="tab">
      <div class="table">
        <div class="table-cell">
          <input
            type="checkbox"
            value="includSelf"
            [(ngModel)]="includSelf"
            name="includSelf"
            (click)="changeIncludSelf()"
          /><span>自分を含める</span>
          <input
            type="radio"
            [checked]="true"
            name="vote_rollcall"
            value="rollcall"
            (change)="onChangeType('rollcall')"
          /><span>点呼</span>
          <input type="radio" name="vote_rollcall" value="vote" (change)="onChangeType('vote')" /><span>投票</span>
        </div>
        <div class="table-cell">
          <span class="inline-block w-[5em] ml-[0.5em]">タイトル:</span
          ><input [(ngModel)]="voteTitle" placeholder="" name="voteTitle" class="w-[15em]" /><br />
          <span class="inline-block w-[5em] ml-[0.5em]">選択肢:</span
          ><input
            [(ngModel)]="voteContentsText"
            placeholder="スペース区切 未入力で賛成/反対"
            name="voteContents"
            class="w-[15em]"
          />
        </div>
        <div class="table-cell">
          <button type="button" (click)="send()" [attr.disabled]="selectedNum() === 0 ? '' : null">送信</button><br />
          <span class="inline-block ml-[0.5em]">人数:{{ selectedNum() }}</span>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #voteTargets let-peer="peer">
  @let peerImage = findPeerImage(peer.peerId);
  @let controlName = findPeerLastControlName(peer.peerId);
  @let controlImage = findPeerLastControlImage(peer.peerId);
  <div class="inventory-object" (click)="voteBlockClick(peer.peerId)">
    <div class="object-tags-box">
      <div class="table-cell">
        <div class="object-name w-[6em]">送信対象</div>
        <div class="message h-[64px]">
          <div>
            <input type="checkbox" [checked]="checkedPeers.has(peer.peerId)" name="vote_chk" />
          </div>
        </div>
      </div>
      <div class="table-cell">
        <div class="object-name">
          {{ findPeerName(peer.peerId) }}
        </div>
        <div class="image-box">
          @if (peerImage) {
            <div class="image cover" [style.background-image]="'url(' + peerImage.url + ')' | safe: 'style'"></div>
          }
        </div>
      </div>
      <div class="table-cell">
        <div class="object-name">
          @if (controlName) {
            {{ controlName }}
          } @else {
            操作キャラなし
          }
        </div>
        <div class="image-box">
          @if (controlImage) {
            <div class="image cover" [style.background-image]="'url(' + controlImage.url + ')' | safe: 'style'"></div>
          } @else {
            <div class="image cover" [style.background-image]=""></div>
          }
        </div>
      </div>
      <div class="table-cell message">
        <div [hidden]="!isPeerIsDisConnect(peer.peerId)">現在接続が切れていると考えられる相手です</div>
      </div>
    </div>
  </div>
</ng-template>
