<div
  class="fly-in"
  [ngClass]="{ 'pointer-events-none': isPointerDragging }"
  class="draggable-panel no-caret"
  [style.left.px]="left"
  [style.top.px]="top"
  [style.width.px]="width"
  [style.height.px]="height"
  [resizable.disable]="isMinimized() || isFullScreen()"
  [draggable.stack]="'.draggable-panel'"
  appDraggable
  appResizable
  #draggablePanel
  (mouseenter)="showPortrait(true)"
  (mouseleave)="showPortrait(false)"
>
  <!--  style = "{{backGroundSetting(0)}}"-->

  <div class="title no-caret" #titleBar>
    @if (title !== 'メニュー') {
      <div class="title-button">
        <button [disabled]="isFullScreen()" (click)="toggleMinimize()">
          <i class="material-icons" style="font-size: 14px">minimize</i>
        </button>
        <button [disabled]="isMinimized()" (click)="toggleFullScreen()">
          <i class="material-icons" style="font-size: 14px">fullscreen</i>
        </button>
        <button (click)="close()"><i class="material-icons" style="font-size: 14px">close</i></button>
      </div>
    }
    {{ panelService.title }}
  </div>
  @if (panelService.chatTab) {
    <chat-portrait-img
      [chatTabidentifier]="panelService.chatTab.identifier"
      [isTilteTop]="true"
      [dispByMouse]="portraitDispByMouse()"
    ></chat-portrait-img>
  }
  @if (panelService.cardStack) {
    <card-stack-list-img [cardStackidentifier]="panelService.cardStack.identifier"></card-stack-list-img>
  }
  <div class="scrollable-panel no-caret" [ngStyle]="{ padding: padding_ }" #scrollablePanel>
    <ng-content></ng-content>
    <div #content class="no-caret"></div>
  </div>
</div>
