<div
  class="component is-3d is-pointer-events-none"
  appMovable
  [movable.option]="movableOption()"
  [movable.disable]="isSelected"
  (movable.ondragstart)="onMove()"
  (movable.ondragend)="onMoved()"
>
  <div
    class="is-3d"
    appRotable
    [rotable.option]="rotableOption()"
    (rotable.ondragstart)="onMove()"
    (rotable.ondragend)="onMoved()"
  >
    <div class="component-content is-3d is-pointer-events-auto" [style.width.px]="width * gridSize">
      <div
        class="is-3d"
        [ngClass]="{ 'is-transition': transition, fall: fall }"
        [ngStyle]="{
          transform:
            'translateZ(' +
            altitude * gridSize +
            'px) rotateY(90deg) rotateZ(' +
            (isUpright ? 0 : 90) +
            'deg) rotateY(-90deg)',
        }"
      >
        <div
          class="upright-transform is-3d is-bg-color note-card is-bg-texture chrome-smooth-image-trick"
          [style.background-image]="'url(' + imageFile().url + ')' | safe: 'style'"
          [style.width.px]="width * gridSize"
          [style.min-height.px]="height * gridSize"
        >
          @if (title().length) {
            <div class="note-header is-pointer-events-none">
              <i class="material-icons note-header-icon">subject</i>
              <span class="note-title">{{ title() }}</span>
              @if (isLock) {
                <i class="material-icons note-lock-icon">lock</i>
              }
            </div>
          }
          <textarea
            class="textarea overflow-x-hidden overflow-y-auto"
            (input)="calcFitHeight()"
            #textArea
            [attr.data-v]="textNoteVersion()"
            [style.font-size.px]="fontSize + 9"
            name="text-note-text"
            [(ngModel)]="text"
            spellcheck="false"
            id="text-area"
          ></textarea>
        </div>
      </div>
      @if (!isLock) {
        <div [ngStyle]="{ transform: 'translateZ(' + altitude * gridSize + 'px)' }">
          <div class="rotate-grab of-left-top">
            <i class="material-icons">autorenew</i>
          </div>
          <div class="rotate-grab of-right-top">
            <i class="material-icons">autorenew</i>
          </div>
        </div>
      }
    </div>
  </div>
  @if (isAltitudeIndicate && math.abs(textNoteAltitude) >= 0.5) {
    <div
      class="is-3d flex [transform-origin:top_left] items-center [border-left:2px_dashed_blanchedalmond]"
      [style.height.px]="math.abs(textNoteAltitude * gridSize)"
      [ngStyle]="{
        transform:
          'rotateX(-90deg) translateY(' +
          (altitude > 0 ? -altitude * gridSize : 0) +
          'px) rotateY(' +
          viewRotateZ() +
          'deg)',
      }"
    >
      <div class="is-3d">
        <span class="altitude-indicator is-3d absolute">{{ math.abs(textNoteAltitude) }}</span>
        <span class="altitude-indicator is-3d absolute [transform:rotateY(-180deg)]">{{ textNoteAltitude }}</span>
      </div>
    </div>
  }
</div>
