@if (!isConnected()) {
  <div>
    <button (click)="reload()" [disabled]="isReloading()">一覧を更新</button>
    <button (click)="showRoomSetting()">新しいルームを作成する</button>
    <hr />
    @if (rooms().length) {
      <table class="text-xs [border-spacing:0] p-0 w-full max-w-full whitespace-nowrap">
        <tr>
          <th class="py-[1px] px-[0.5em] text-center">ルームID</th>
          <th class="whitespace-normal break-words min-w-[50%] py-[1px] px-[0.5em] text-center">ルーム名</th>
          <th class="py-[1px] px-[0.5em] text-center">パスワード</th>
          <th class="py-[1px] px-[0.5em] text-center">参加者</th>
          <th class="py-[1px] px-[0.5em] text-center"></th>
        </tr>
        @for (room of rooms(); track room) {
          <tr>
            <td class="text-[10px] py-[1px] px-[0.5em] text-center">{{ room.peerContexts[0]?.roomId }}</td>
            <td class="whitespace-normal break-words min-w-[50%] py-[1px] px-[0.5em] text-center">
              {{ room.roomName }}
            </td>
            @if (room.peerContexts[0].hasPassword) {
              <td class="py-[1px] px-[0.5em] text-center">
                <i class="material-icons align-middle text-[0.9rem]">lock</i>
              </td>
            }
            @if (!room.peerContexts[0].hasPassword) {
              <td class="py-[1px] px-[0.5em] text-center">-</td>
            }
            <td class="py-[1px] px-[0.5em] text-center">{{ room.peerContexts.length }}人</td>
            <td class="py-[1px] px-[0.5em] text-center">
              @if (0 < room.alias.length) {
                <button
                  [disabled]="room.peerContexts[0]?.roomId === currentRoom"
                  type="submit"
                  (click)="connect(room.peerContexts)"
                >
                  接続
                </button>
              }
            </td>
          </tr>
        }
      </table>
    }
    @if (rooms().length < 1) {
      <span class="text-xs">{{ help() }}</span>
    }
  </div>
} @else {
  <span class="text-xs"
    >別のルームに接続したい場合は、他の参加者との接続を切ってください。<br />（※ページリロードで切断できます。）</span
  >
}
