<form name="chat-setting" class="chat-setting-form">
  <!-- 立ち絵 -->
  <section class="setting-section">
    <h3 class="setting-heading">立ち絵</h3>
    <label class="setting-row">
      <span class="setting-label">立ち絵を表示（このタブ）</span>
      @if (chatTab) {
        <input type="checkbox" [(ngModel)]="chatTab.portraitDisplayFlag" name="portraitDisplayFlag" />
      } @else {
        <input type="checkbox" name="portraitDisplayFlag" disabled />
      }
    </label>
    <label class="setting-row">
      <span class="setting-label">立ち絵サイズ</span>
      <input
        type="number"
        class="setting-number"
        [(ngModel)]="chatTabList.portraitHeight"
        min="{{ chatTabList.minPortraitSize }}"
        max="{{ chatTabList.maxPortraitSize }}"
        name="portraitHeight"
        (change)="onChkHeight($event)"
      />
    </label>
    <label class="setting-row">
      <span class="setting-label">立ち絵をウィンドウ内に表示</span>
      <input
        type="checkbox"
        [(ngModel)]="chatTabList.isPortraitInWindow"
        name="portraitInWindow"
        (click)="changePortraitInWindow()"
      />
    </label>
    <label class="setting-row">
      <span class="setting-label">ウィンドウ外の立ち絵を保持</span>
      <input
        type="checkbox"
        [(ngModel)]="chatTabList.isKeepPortraitOutWindow"
        name="isKeepPortraitOutWindow"
        (click)="changeKeepPortraitOutWindow()"
        [attr.disabled]="chatTabList.isPortraitInWindow ? '' : null"
      />
    </label>
  </section>

  <!-- 簡易表示 -->
  <section class="setting-section">
    <h3 class="setting-heading">簡易表示</h3>
    <label class="setting-row">
      <span class="setting-label">簡易表示を有効にする（このタブ）</span>
      @if (chatTab) {
        <input
          type="checkbox"
          [(ngModel)]="chatTab.chatSimpleDispFlag"
          name="chatSimpleDispFlag"
          (click)="changeSimpleDisp()"
        />
      } @else {
        <input type="checkbox" name="chatSimpleDispFlag" disabled />
      }
    </label>
    <label class="setting-row">
      <span class="setting-label">時間を表示</span>
      <input
        type="checkbox"
        [(ngModel)]="chatTabList.simpleDispFlagTime"
        name="simpleDispFlagTime"
        (click)="changeDispFlagTime()"
        [attr.disabled]="chatTab?.chatSimpleDispFlag ? null : ''"
      />
    </label>
    <label class="setting-row">
      <span class="setting-label">IDを表示</span>
      <input
        type="checkbox"
        [(ngModel)]="chatTabList.simpleDispFlagUserId"
        name="simpleDispFlagUserId"
        (click)="changeDispFlagUserId()"
        [attr.disabled]="chatTab?.chatSimpleDispFlag ? null : ''"
      />
    </label>
  </section>
</form>
