:host {
  display: block;
}

.main-image-box {
  width: 250px;
  height: 250px;
}
.main-image {
  width: 250px;
}

.table {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.table-row {
  display: table-row;
  box-sizing: border-box;
}
.table-row > div {
  display: table-cell;
  border: 1px solid #fff;
  vertical-align: top;
  box-sizing: border-box;
}
.box {
  display: inline-block;
  margin: 5px;
  box-sizing: border-box;
}
.flex-container {
  display: flex;

  flex-flow: row wrap;

  justify-content: flex-start;

  align-items: stretch;
}

.flex-item {
  margin: 5px 0px;
  padding: 10px;
  flex: 1 0 auto;
  box-sizing: border-box;
  min-width: 25px;

  background-color: rgba(234, 201, 157, 0.8);
  background-color: rgba(240, 218, 189, 0.8);
  color: #444;
}
.flex-item input,
.flex-item button,
.flex-item textarea,
.flex-item select {
  color: #ccc;
}
input {
  color: #ccc;
}

.top-header {
  display: table;
  width: 100%;
}
.extra-setting {
  text-align: right;
}

.table-cell {
  display: table-cell;
}
.is-hidden {
  visibility: hidden;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.9em;
}

