<div class="component">
  <ng-container *ngTemplateOutlet="inventoryTab"></ng-container>
  <ng-container *ngTemplateOutlet="inventoryViewSetting"></ng-container>
  <ng-container *ngTemplateOutlet="inventoryMultiMove"></ng-container>
  @if (getGameObjects(selectTab()).length < 1) {
    <div>{{ getTabTitle(selectTab()) }}インベントリは空です</div>
  }
  <!--    <ng-container *ngIf="!gameObject.hideInventory && gameObject.location.name === 'table'"> -->
  @for (gameObject of getGameObjects(selectTab()); track trackByGameObject($index, gameObject)) {
    <div
      (contextmenu)="onContextMenu($event, gameObject)"
      (click)="selectGameObject(gameObject)"
      (dblclick)="focusToObject($event, gameObject)"
      [ngClass]="{ box: true, selected: selectedIdentifier === gameObject.identifier }"
    >
      <ng-container *ngTemplateOutlet="gameObjectTags; context: { gameObject: gameObject }"></ng-container>
    </div>
  }

  @if (selectTab() === 'graveyard') {
    <div style="padding-top: 6px">
      <button
        class="danger"
        (click)="cleanInventory()"
        [attr.disabled]="getGameObjects(selectTab()).length < 1 ? '' : null"
      >
        墓場を空にする
      </button>
    </div>
  }
</div>

<ng-template #inventoryTab>
  <form class="is-sticky-top" name="game-object-inventory">
    <div class="tab">
      @for (inventoryType of inventoryTypes(); track inventoryType) {
        <label>
          <input
            name="tab"
            type="radio"
            value="{{ inventoryType }}"
            ng-control="options"
            [ngModel]="selectTab()"
            (ngModelChange)="selectTab.set($event)"
          />
          <div>{{ getTabTitle(inventoryType) }} ({{ getInventory(inventoryType).length }})</div>
        </label>
      }
    </div>
  </form>
</ng-template>
<ng-template #inventoryViewSetting>
  @if (isEdit) {
    <div>
      <div style="font-size: 12px">並び順第1</div>
      <input class="is-caret" name="sort-tag" name="sort-tag" [(ngModel)]="sortTag" placeholder="タグ名" />
      <select name="sort-order" name="sort-order" [(ngModel)]="sortOrder">
        <option value="ASC">昇順</option>
        <option value="DESC">降順</option>
      </select>
    </div>
    <div>
      <div style="font-size: 12px">並び順第2</div>
      <input class="is-caret" name="sort-tag-2nd" name="sort-tag-2nd" [(ngModel)]="sortTag2nd" placeholder="タグ名" />
      <select name="sort-order-2nd" name="sort-order-2nd" [(ngModel)]="sortOrder2nd">
        <option value="ASC">昇順</option>
        <option value="DESC">降順</option>
      </select>
    </div>
    <div style="font-size: 12px; padding-top: 6px">表示項目</div>
    <input
      class="is-caret"
      style="width: 100%; box-sizing: border-box"
      name="data-tag"
      name="data-tag"
      [(ngModel)]="dataTag"
      placeholder="スペース区切りでタグ名 スラッシュで改行 ex.「HP MP / メモ」"
    />
    <div style="padding-top: 6px">
      <button class="tab-setting small-font" (click)="toggleEdit()">
        <i class="material-icons small-font">settings</i>完了
      </button>
    </div>
  }
  @if (!isEdit) {
    <table style="font-size: 0.8em">
      <tr>
        <th style="vertical-align: middle">並び順 第1:</th>
        <td style="vertical-align: middle">
          @if (0 < sortTag.length) {
            {{ sortTag }} ({{ sortOrderName }})
          }
          @if (sortTag.length < 1) {
            -
          }
        </td>
        <th style="vertical-align: middle">第2:</th>
        <td style="vertical-align: middle">
          @if (0 < sortTag2nd.length) {
            {{ sortTag2nd }} ({{ sortOrderName2nd }})
          }
          @if (sortTag2nd.length < 1) {
            -
          }
        </td>
        <td>
          <button class="tab-setting small-font" (click)="toggleEdit()">
            <i class="material-icons small-font">settings</i>設定
          </button>
        </td>
      </tr>
    </table>
  }
</ng-template>
<ng-template #inventoryMultiMove>
  @if (isMultiMove) {
    <div style="font-size: 0.8em">
      <span style="font-weight: bold">一括移動:</span>
      <button class="tab-setting small-font" (click)="allTabBoxCheck()">
        @if (existsMultiMoveSelectedInTab()) {
          全解除口↓
        } @else {
          全選択〆↓
        }
      </button>
      <button class="tab-setting small-font" (click)="onMultiMoveContextMenu()">
        <i class="material-icons small-font">settings</i>実行
      </button>
      <button class="tab-setting small-font" (click)="toggleMultiMove()">
        <i class="material-icons small-font">settings</i>キャンセル
      </button>
    </div>
  }
  @if (!isMultiMove) {
    <div>
      <button class="tab-setting small-font" (click)="toggleMultiMove()">
        <i class="material-icons small-font">settings</i>一括移動
      </button>
    </div>
  }
</ng-template>
<ng-template #gameObjectTags let-gameObject="gameObject">
  <div class="inventory-object">
    <div class="object-name">
      {{ gameObject.name }}
      @if (selectedIdentifier === gameObject.identifier) {
        <button style="font-size: 0.8em; padding: 2px 5px" (click)="onContextMenu($event, gameObject)">
          <i class="material-icons" style="font-size: 1em">settings</i>
        </button>
      }
    </div>
    <div class="object-tags-box">
      @if (isMultiMove) {
        <div class="table-cell">
          <input
            type="checkbox"
            [checked]="multiMoveTargets.has(gameObject.identifier)"
            (change)="toggleMultiMoveTarget($event, gameObject)"
          />
        </div>
      }
      <div class="table-cell">
        <div class="image-box">
          @if (gameObject.imageFile.url) {
            <img [src]="gameObject.imageFile.url | safe: 'resourceUrl'" />
          }
        </div>
      </div>
      <div class="table-cell">
        @if (gameObject.rootDataElement) {
          <div>
            @for (dataElm of getInventoryTags(gameObject); track trackByGameObject($index, dataElm)) {
              <ng-container *ngTemplateOutlet="dataElmTag; context: { dataElm: dataElm }"></ng-container>
            }
          </div>
        }
      </div>
    </div>
  </div>
</ng-template>
<ng-template #dataElmTag let-dataElm="dataElm">
  @if (dataElm?.name === newLineString) {
    <br />
  }
  @if (dataElm && dataElm.name !== newLineString) {
    <div class="object-tag">
      @switch (dataElm.attributes['type']) {
        @case ('numberResource') {
          <div class="resource-tag">
            <div style="font-size: 0.8em; display: inline-block; margin-right: 0.5em">{{ dataElm.name }}</div>
            <input
              class="input resource-value is-caret"
              type="number"
              [style]="'color:' + dataElm.nowValueColor + ';'"
              size="1"
              name="data-current-value"
              name="data-current-value"
              [(ngModel)]="dataElm.currentValue"
              placeholder="Value"
            />
          </div>
          <div class="resource-tag">
            <input
              type="range"
              [style]="
                'font-size: 0.8em; min-width: 1em; width:' +
                  (dataElm.name.length + 4.5) +
                  'em; --min: 0; --max: ' +
                  dataElm.value +
                  '; --val:' +
                  dataElm.currentValue +
                  ';' | safe: 'style'
              "
              min="0"
              max="{{ dataElm.value }}"
              name="data-current-value"
              name="data-current-value"
              [(ngModel)]="dataElm.currentValue"
            />
          </div>
        }
        @case ('check') {
          <div class="tag-name">{{ dataElm.name }}</div>
          <div style="text-align: center; margin: 2px 0px 0px 0px">
            <div style="display: inline-block">
              <div class="tag-value-box">
                @if (dataElm.value !== 0) {
                  <input type="checkbox" checked (click)="dataElm.value = 0" />
                }
                @if (dataElm.value === 0) {
                  <input type="checkbox" (click)="dataElm.value = 1" />
                }
              </div>
            </div>
          </div>
        }
        @case ('markdown') {}
        @default {
          <div class="tag-name">{{ dataElm.name }}</div>
          <div style="text-align: center">
            <div style="display: inline-block">
              <div class="tag-value-box">
                <div class="hidden-spacer" style="font-weight: bold">{{ dataElm.value }}</div>
                <input
                  class="input tag-value is-caret"
                  size="1"
                  name="data-value"
                  name="data-value"
                  [(ngModel)]="dataElm.value"
                  placeholder=""
                />
              </div>
            </div>
          </div>
        }
      }
    </div>
  }
</ng-template>
